<section class="content-header">
    <h1>
        {{'accountingOperation.cardOperations' | translate}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#!/dashboard"><i class="fa fa-dashboard"></i>{{'common.home' | translate}}</a></li>
        <li class="active">{{'accountingOperation.cardOperations' | translate}}</li>
    </ol>
</section>
<section class="content col-xs-12">
    <div class="row">

        <div class="row col-md-4 col-xs-12">
            <dbx-user events="userEvents" options="userOptions" selected-value="selectedUserId" ></dbx-user>
        </div>

        <div class="col-xs-12 row">
            <div class="col-xs-12" ng-data-table options="dtOptions" additional-data="dtAdditionalData" events="dtEvents"
                 dt-cols="dtCols" dt-data="dtData"></div>
        </div>

    </div>
    <div class="dvnewbutton">
        <button class="btn btn-danger" backbutton button-type="back"></button>
    </div>
</section>


<script type="text/ng-template" id="cardOperationStatementDeails">
    <div class="panel panel-default">
        <div class="panel-body row row txt-xs">

            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'common.action' | translate}}:</span>{{item.operationTypeCaption}}
            </div>
            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'common.amount' | translate}}:</span>
                <span class="prcblk">{{item.amount | currency: '' : additionalData.shopFractionSize}} {{additionalData.shopCurrency}}</span>
            </div>

            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'card.sourceCard' | translate}}:</span>
                <span style="display: inline-block;direction: ltr">{{item.sourceCard}}</span> {{(item.sourceCardName && sourceCardName.length > 0) ? ('(' + item.sourceCardName + ')') : ''}}
            </div>
            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'common.trackingCode' | translate}}:</span>
                <span class="badge badge-info">{{item.trackingCode}}</span>
            </div>

            <div class="col-md-6 col-xs-12 mgb-5" ng-if="item.targetCard">
                <span class="label">{{'card.targetCard' | translate}}:</span>
                <span style="display: inline-block;direction: ltr">{{item.targetCard}}</span>
            </div>
            <div class="col-md-6 col-xs-12 mgb-5" ng-if="item.targetCardOwner">
                <span class="label">{{'card.targetCardOwner' | translate}}:</span>{{item.targetCardOwner}}
            </div>

            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'date' | translate}}:</span>
                {{item.lastStatusDate}}
            </div>
            <div class="col-md-6 col-xs-12 mgb-5">
                <span class="label">{{'common.status' | translate}}:</span>
                <span class="badge" ng-class="{'badge-success' : item.resultStatus, 'badge-danger' : !item.resultStatus}">{{item.statusDesc}}</span>
            </div>

            <div class="col-xs-12 mgb-5" ng-if="item.errorDescription">
                <span class="label">{{'common.errorReason' | translate}}:</span>
                <span style="display: inline-block;direction: ltr">{{item.errorDescription}}&nbsp;</span>
            </div>

            <div class="col-xs-12 mgb-5">
                <span class="label">{{'common.description' | translate}}:</span>
                {{item.description}}&nbsp;
            </div>
        </div>
    </div>
</script>