<style>
    .input-group-addon {
        min-width: 110px;
    }

    .small-addon {
        min-width: 70px !important;
    }

    ul {
        list-style: none;
    }

    li {
        margin-right: 5px;
    }

    .txtlefttoright {
        text-align: left;
        direction: ltr;
    }

    /* webkit solution */
    input.txtlefttoright::-webkit-input-placeholder {
        text-align: left;
    }

    /* mozilla solution */
    input.txtlefttoright:-moz-placeholder {
        text-align: left;
    }
</style>
<section class="content-header">
    <h1>
        {{'accounting.bankAccountInformation' | translate}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#!/dashboard"><i class="fa fa-dashboard"></i>{{'common.home' | translate}}</a></li>
        <li class="active">{{'accounting.bankAccountInformation' | translate}}</li>
    </ol>
</section>
<section class="content col-xs-12">

    <account-summery params="params"></account-summery>

    <div class="row">
        <section class="col-xs-12">
            <!-- Desktop box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <i class="fa fa-th" style="color: #00c0ef;"></i>
                    <h3 class="box-title">{{'accounting.bankAccountInformation' | translate}}</h3>
                    <div class="box-tools pull-left">
                        <!--<button class="btn btn-box-tool" data-widget="collapse" data-target="#main-chart" data-toggle="tooltip" title="بستن"><i class="fa fa-minus"></i></button>-->
                    </div>
                </div>
                <div class="box-footer no-border row">
                    <div class="col-md-5" ng-form="myForm">

                        <div class="col-xs-12">
                            <div class="input-group margin-bottom-sm col-xs-12">
                                <span class="input-group-addon">{{'common.bankGetway' | translate}} *</span>
                                <select class="form-control col-xs-12" ng-model="selectedBank" name="selectedBank"
                                        ng-options="item.id as item.caption for item in bankGetways" required>
                                </select>
                            </div>
                            <span style="color:red;padding-right: 20px;" ng-show="selectedBank == null && showError" translate="validate.requiredMessage" translate-values="{element: '{{'common.bankGetway' | translate}}'}"></span>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-group margin-bottom-sm col-xs-12">
                                <span class="input-group-addon">{{'common.amount' | translate}} *</span>
                                <input type="text" class="form-control txtlefttoright" name="amount" money-box
                                       required autofocus data-ng-model="amount" /><!--ng-maxlength="9" ng-minlength="4"/>-->
                                <span
                                        style="display:table-cell;padding-right:3px">{{shopCurrency}}</span>
                            </div>
                            <span style="color:red;padding-right: 20px;"
                                  ng-show="myForm.amount.$error.required && showError" translate="validate.requiredMessage" translate-values="{element: '{{'common.amount' | translate}}'}"></span>
                        </div>
                        <div id="frmBankPayment"></div>
                        <div class="dvnewbutton">
                            <button class="btn btn-primary" id="chargeWallet" ng-click="chargeWallet()">{{'order.chargeWallet' | translate}}
                            </button>
                            <button class="btn btn-primary" backbutton></button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
    </div>
</section>
