<section class="content-header">
    <h1>
        {{'login.changePassword' | translate}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#!/dashboard"><i class="fa fa-dashboard"></i>{{'common.home' | translate}}</a></li>
        <li class="active">{{'login.changePassword' | translate}}</li>
    </ol>
    <style>
        .input-group-addon {
            min-width: 110px;
        }
    </style>
</section>

<section class="content col-xs-12">

    <div class="col-md-5" ng-form="myForm">

        <div class="input-group margin-bottom-sm" >
            <span class="input-group-addon">{{'login.currentPassword' | translate}} *</span>
            <input type="password" id="oldpassword" name="oldpassword" ng-readonly="isReset" class="form-control ltr-input" placeholder="{{'login.currentPassword' | translate}}" autofocus data-ng-model="oldpassword"  />
        </div>
        

        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon">{{'login.password' | translate}} *</span>
            <input type="password" id="password" name="password" ng-minlength="6" class="form-control ltr-input" placeholder="{{'login.password' | translate}}"  ng-change="checkPassword()" required autofocus data-ng-model="password" />
        </div>
        <span message-type ng-show="myForm.password.$error.required && showError" translate="validate.requiredMessage" translate-values="{element: '{{'common.password' | translate}}'}"></span>
        <span message-type ng-show="!myForm.password.$error.required && myForm.password.$error.minlength" translate="validate.minLength" translate-values="{min: '6'}"></span>

        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon">{{'login.confirmPassword' | translate}} *</span>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="{{'login.confirmPassword' | translate}}" class="form-control ltr-input"  ng-change="checkPassword()" required autofocus data-ng-model="confirmPassword" />
        </div>
        <span message-type ng-show="myForm.confirmPassword.$error.required && showError" translate="validate.requiredMessage" translate-values="{element: '{{'login.confirmPassword' | translate}}'}"></span>
        <span message-type ng-show="!myForm.confirmPassword.$error.required && myForm.confirmPassword.$error.dontMatch" translate="login.dontMatch"></span>

        <div class="">
            <br />
            <br />
            <button class="btn btn-primary pull-left" id="changepassword" ng-click="changePassword()">{{'login.changePassword' | translate}}</button>
        </div>
    </div>
    
</section>


